cdsapi==0.7.7
joblib==1.5.1
matplotlib==3.10.5
netCDF4==1.7.2
numpy==2.2.6
pandas==2.2.3
Pillow==11.3.0
pyarrow==20.0.0
PyYAML==6.0.2
requests==2.32.4
scikit-learn==1.7.1
scipy==1.15.3
torch==2.7.1
xarray==2025.6.1
